# MySQL Database Configuration
# Copy this file to a new file named .env and change values if necessary

MYSQL_DATABASE=dec_db
MYSQL_USER=dec_user
MYSQL_PASSWORD=dec_password
MYSQL_ROOT_PASSWORD=dec_root_password

# Host and Port (Used internally by Docker and Django)
DB_HOST=db
DB_PORT=3306

# Flask Microservice URL (Docker internal)
MICROSERVICE_URL=http://service:5000

# Django Settings (Only if you want to change locally)
# DEBUG=True
# SECRET_KEY=your_secret_here
DJANGO_SECRET_KEY='your-secret-key-here'
DEBUG=True
