@{
    ViewData["Title"] = "Acesso Negado";
}

<div class="text-center mt-5">
    <h1 class="display-4 text-danger">Acesso Negado</h1>
    <p class="lead">Não tem permissões suficientes para aceder a esta funcionalidade.</p>
    <hr />
    <a asp-controller="Home" asp-action="Index" class="btn btn-secondary">Voltar ao Início</a>
</div>
